
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View2</title>
</head>
<body>
    <h1>Vue custom</h1>

    <div class="btn">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Go back home</a>
    </div>

</body>
</html>
