@model MVC_EF1.Models.Person

@{
    ViewData["Title"] = "Edit";
}

<h1>Modification de l'étudiant (ID : @Model.Id)</h1>

<h4>Etudiant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sex" class="control-label"></label>
                <select asp-for="Sex" class="form-control"
                        asp-items="@Html.GetEnumSelectList<Person.eSex>()">
                    <option selected="selected" value="">...</option>
                </select>
                <span asp-validation-for="Sex" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthYear" class="control-label"></label>
                <input asp-for="BirthYear" class="form-control" />
                <span asp-validation-for="BirthYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ITLevel" class="control-label"></label>
                <select asp-for="ITLevel" class="form-control"
                        asp-items="@Html.GetEnumSelectList<Person.eITLevel>()">
                    <option selected="selected" value="">...</option>
                </select>
                <span asp-validation-for="ITLevel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Location" class="control-label"></label>
                <select asp-for="Location" class="form-control"
                        asp-items="@Html.GetEnumSelectList<Person.eLocation>()">
                    <option selected="selected" value="">...</option>
                </select>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdGroup" class="control-label"></label>
                <select asp-for="IdGroup"
                        class="form-control"
                        asp-items="ViewBag.IdGroup">
                    <option selected="selected" value="">...</option>
                </select>
                <span asp-validation-for="IdGroup" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modifier" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
