@model MVC2.ViewModels.Home.IndexVM

<div class="text-center">
    <h1 class="display-4">
        Bienvenue sur la @Model.Title.ToLower()
    </h1>
    
    <p>
        Profil de votre formateur favori 
        <a 
            href="https://www.linkedin.com/in/alain-micalaudie"
            target="_blank">
            Alain
        </a>
         en C#.
    </p>
</div>
