@model MVMVC_EF.ViewModels.ProjectVM

@{
    ViewData["Title"] = "Edit";
}

<h1>@Model.PageTitle</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CurrentEntity.Id" />
            <div class="form-group">
                <label asp-for="CurrentEntity.Name" class="control-label"></label>
                <input asp-for="CurrentEntity.Name" class="form-control" />
                <span asp-validation-for="CurrentEntity.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentEntity.Description" class="control-label"></label>
                <input asp-for="CurrentEntity.Description" class="form-control" />
                <span asp-validation-for="CurrentEntity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@Model.EditText" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Model.GoToListText</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
