@model MVC3.ViewModels.Home.IndexVM

<div class="IndexPage text-center">
    <h1 class="display-4">
        Bienvenue sur la @Model.Title.ToLower()
    </h1>
    
    <p>
        Profil de votre formateur favori
        <a 
            href="@Model.Link"
            target="_blank">
            @Model.Name
        </a>
         en @Model.Skills.
    </p>
</div>
